.App {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.toolbar {
  width: 90%;
  background-color: rgb(161, 132, 96);
  height: 10vh;
  display: flex;
  padding-left: 5%;
  padding-right: 5%;
}

.home-button {
  width: 15vw;
  text-align: center;
  align-self: center;
  font-size: x-large;
  margin-top: 5px;
}

.home-button-placeholder {
  width: 15vw;
}

.app-name {
  width: 85vw;
  font-size: large;
  margin-left: 5vw;
  align-self: center;
}

.content {
  height: 90vh;
  max-height: 90vh;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 2vh;
  max-width: 80vw;
  overflow: scroll;
}
